@import "tailwindcss";

html, body {
  background-color: #000;
  /* background-color: slategrey; */
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

/* * {
  border: 1px solid red;
} */

@media (max-width: 689px) {
  #menu {
    display: none;
  }
  #menu-toggle {
    display: block;
  }
}

@media (min-width: 690px) {
  #menu {
    display: flex;
  }
  #menu-toggle {
    display: none;
  }
}

@media (max-width: 370px) {
  #navbar-title {
    display: none;
  }
}

