body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  background-color: black;
  text-align: center;
}

img.logo {
  display: inline-block;
  width: 512px;
  max-width: 90vw;
  height: auto;
  margin: 1rem;
}

h1 {
   margin: 0 0 5rem 0;
  text-align: center;
}
